html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#container{   
    height: 100vh;     
    padding-top: 100px;
    padding-bottom: 36px;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
    z-index: 1;
}
.fixed-header{
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
}
.fixed-footer{
    bottom: 0;
}



#content{
    height: auto;
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content); 
    grid-gap: 10px;

}

@media (min-width: 680px) {
    #content {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content); 
    
    }
}

@media (min-width: 1300px) {
    #content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content); 
    
    }
}

@media (min-width: 1800px) {
    #content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    
    }
}

nav {
    color: #ffff;
    padding: 7px 25px;
    width: 20%;
    
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
}

nav li {
    width: 50%;
    min-width: 50px;
    max-width: 100px;
    height: 65px;
    text-align: center;
    text-justify: inter-word;
    line-height: 60px;
    list-style-type: none;
    font-size: 15px;
    
    
}

#profile {
    padding: 7px 25px;
    width: 20%;
    display: flex;
    align-content: flex-end;

}

#profile a {
    display: flex;
}

#pp {
    border-radius: 50%;
    background-color: rgb(139, 116, 116);
    width: 50px;
    height: 50px;
    justify-self: center;
    margin-top: 7px;
    
}

#title {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    cursor:pointer;
    text-overflow: none;
    
}

#addProject {
    display: grid;
    grid-template-rows: 20% 1fr;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 300px;
    min-width: 300px;
    max-width: 404px;
    max-height: 352px;
    height: 100%;
    width: 100%;
    background-color: #fcfc75;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 1px 5px #333;
    
}

#addProject  #plus {
    font-size: 300px;
    color: transparent;
    background: #242323;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: rgb(77, 75, 75);
    text-shadow: rgb(176, 176, 82) 0px 0px 0px, rgb(177, 177, 82) 1px 1px 0px, rgb(178, 178, 83) 2px 2px 0px, rgb(179, 179, 83) 3px 3px 0px, rgb(179, 179, 83) 4px 4px 0px, rgb(180, 180, 84) 5px 5px 0px, rgb(181, 181, 84) 6px 6px 0px, rgb(182, 182, 84) 7px 7px 0px, rgb(182, 182, 85) 8px 8px 0px, rgb(183, 183, 85) 9px 9px 0px, rgb(184, 184, 85) 10px 10px 0px, rgb(185, 185, 86) 11px 11px 0px, rgb(185, 185, 86) 12px 12px 0px, rgb(186, 186, 86) 13px 13px 0px, rgb(187, 187, 87) 14px 14px 0px, rgb(188, 188, 87) 15px 15px 0px, rgb(188, 188, 88) 16px 16px 0px, rgb(189, 189, 88) 17px 17px 0px, rgb(190, 190, 88) 18px 18px 0px, rgb(191, 191, 89) 19px 19px 0px, rgb(192, 192, 89) 20px 20px 0px, rgb(192, 192, 89) 21px 21px 0px, rgb(193, 193, 90) 22px 22px 0px, rgb(194, 194, 90) 23px 23px 0px, rgb(195, 195, 90) 24px 24px 0px, rgb(195, 195, 91) 25px 25px 0px, rgb(196, 196, 91) 26px 26px 0px, rgb(197, 197, 91) 27px 27px 0px, rgb(198, 198, 92) 28px 28px 0px, rgb(198, 198, 92) 29px 29px 0px, rgb(199, 199, 92) 30px 30px 0px, rgb(200, 200, 93) 31px 31px 0px, rgb(201, 201, 93) 32px 32px 0px, rgb(201, 201, 93) 33px 33px 0px, rgb(202, 202, 94) 34px 34px 0px, rgb(203, 203, 94) 35px 35px 0px, rgb(204, 204, 95) 36px 36px 0px, rgb(204, 204, 95) 37px 37px 0px, rgb(205, 205, 95) 38px 38px 0px, rgb(206, 206, 96) 39px 39px 0px, rgb(207, 207, 96) 40px 40px 0px, rgb(207, 207, 96) 41px 41px 0px, rgb(208, 208, 97) 42px 42px 0px, rgb(209, 209, 97) 43px 43px 0px, rgb(210, 210, 97) 44px 44px 0px, rgb(210, 210, 98) 45px 45px 0px, rgb(211, 211, 98) 46px 46px 0px, rgb(212, 212, 98) 47px 47px 0px, rgb(213, 213, 99) 48px 48px 0px, rgb(213, 213, 99) 49px 49px 0px, rgb(214, 214, 99) 50px 50px 0px, rgb(215, 215, 100) 51px 51px 0px, rgb(216, 216, 100) 52px 52px 0px, rgb(216, 216, 101) 53px 53px 0px, rgb(217, 217, 101) 54px 54px 0px, rgb(218, 218, 101) 55px 55px 0px, rgb(219, 219, 102) 56px 56px 0px, rgb(219, 219, 102) 57px 57px 0px, rgb(220, 220, 102) 58px 58px 0px, rgb(221, 221, 103) 59px 59px 0px, rgb(222, 222, 103) 60px 60px 0px, rgb(223, 223, 103) 61px 61px 0px, rgb(223, 223, 104) 62px 62px 0px, rgb(224, 224, 104) 63px 63px 0px, rgb(225, 225, 104) 64px 64px 0px, rgb(226, 226, 105) 65px 65px 0px, rgb(226, 226, 105) 66px 66px 0px, rgb(227, 227, 105) 67px 67px 0px, rgb(228, 228, 106) 68px 68px 0px, rgb(229, 229, 106) 69px 69px 0px, rgb(229, 229, 106) 70px 70px 0px, rgb(230, 230, 107) 71px 71px 0px, rgb(231, 231, 107) 72px 72px 0px, rgb(232, 232, 108) 73px 73px 0px, rgb(232, 232, 108) 74px 74px 0px, rgb(233, 233, 108) 75px 75px 0px, rgb(234, 234, 109) 76px 76px 0px, rgb(235, 235, 109) 77px 77px 0px, rgb(235, 235, 109) 78px 78px 0px, rgb(236, 236, 110) 79px 79px 0px, rgb(237, 237, 110) 80px 80px 0px, rgb(238, 238, 110) 81px 81px 0px, rgb(238, 238, 111) 82px 82px 0px, rgb(239, 239, 111) 83px 83px 0px, rgb(240, 240, 111) 84px 84px 0px, rgb(241, 241, 112) 85px 85px 0px, rgb(241, 241, 112) 86px 86px 0px, rgb(242, 242, 112) 87px 87px 0px, rgb(243, 243, 113) 88px 88px 0px, rgb(244, 244, 113) 89px 89px 0px, rgb(244, 244, 113) 90px 90px 0px, rgb(245, 245, 114) 91px 91px 0px, rgb(246, 246, 114) 92px 92px 0px, rgb(247, 247, 115) 93px 93px 0px, rgb(247, 247, 115) 94px 94px 0px, rgb(248, 248, 115) 95px 95px 0px, rgb(249, 249, 116) 96px 96px 0px, rgb(250, 250, 116) 97px 97px 0px, rgb(250, 250, 116) 98px 98px 0px, rgb(251, 251, 117) 99px 99px 0px; 
    text-align: center;
    grid-row: 2 / 2;
    line-height: 175px;
    justify-self: center;
    margin:0px;
    padding-top: 10px;
}

#addProject h2 {
    padding-top: 20px;
    text-align: center;
    color: #333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project {
    min-height: 300px;
    min-width: 300px;
    max-width: 404px;
    max-height: 352px;
    height: 100%;
    width: 100%;
    background: #fcfc75;
    margin: 5px;
    overflow: hidden;
    color: #333;
    position: relative;
    box-shadow: 0px 1px 5px #333;
    
}

.project p {
    font-size: 17px;
    padding: 5px;
    margin-left: 5px;
}

.project h2 {
    cursor: pointer;
    padding: 5px;
    height: 10%;
    margin: 10px 0px 5px 5px;
    font-size: 30px;
    text-overflow: ellipsis;
    max-height: 100px;
    max-width: 80%;
    white-space: nowrap;
    
    
    
}

.project .delBTN {
    width: 20px;
    height: 20px;
    background: url("images/delBTN.png") no-repeat top left;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-size: 15px 16px;
    right: 0;
    position: absolute;
    margin-right: 2px;
    margin-top: 5px;
}

.task {
    display: grid;
    width: 100%;
    grid-template-columns: 6fr 1fr 0.6fr;
    border-bottom: 2px solid  #d6d67f;
    border-top: 2px solid  #d6d67f;
    margin-bottom: -2px;
}

.due {
    margin: 5px 0px 5px 5px;
    height: fit-content;
    border-left: 4px groove #fcfc7550;

}

.due :hover {

}

.desc {
    white-space: pre-wrap;
    margin: 5px 0px 5px 5px;
    
}

.complete {
    vertical-align: middle;
    margin-top: 50%;
    
}

.projectView {
    max-height: 700px;
    width: 100%;
    background: #fcfc75;
    margin: 5px;
    grid-column: 1/-1;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas:
    "head"
    "body"
}

.projectView .task {
    height: auto;
    display: grid;
    padding: 10px;
    width: auto;

}

.projectView .complete {
    vertical-align: middle;
    margin-top: 7px;
    justify-self: center;
    
}

.projectView .desc {
    margin-left: 5px;
}

.projectView h2 {
    grid-area: 1/1/2/1;
    margin: 15px;
    width: fit-content;
}

.projectView #enterBTN {
    background: url("images/enterBTN.png") no-repeat top left;
    background-size: contain;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: 30px 26px;
    background-position-y: 2px;
    margin-left: 5px;
    justify-self: center;
}

.projectView #desc {
    padding-left: 0px;
    border: none;
    border: 1px #ffffff solid;
    animation: blink 1s step-end infinite alternate;
}

@keyframes blink {
    50% { border-color: rgba(51, 51, 51, 0.233)}
}

.projectView #due {
    border: none;
    
    min-width: 65px;
}

.projectView #closeBTN {
    width: 30px;
    height: 30px;
    grid-area: 1/1/2/1;
    justify-self: flex-end;
    margin: 15px;
    background: url("images/closeBTN.png") no-repeat top left;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.projectView #newBTN {
    width: 30px;
    height: 30px;
    grid-area: 1/1/2/1;
    justify-self: flex-end;
    margin-right: 50px;
    margin-top: 15px;
    background: url("images/addBTN.png") no-repeat top left;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-size: 28px 28px;
}

.projectView .delBTN {
    width: 30px;
    height: 30px;
    grid-area: 1/1/2/1;
    justify-self: flex-end;
    margin-right: 85px;
    margin-top: 15px;
    background: url("images/delBTN.png") no-repeat top left;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-size: 26px 27px;
}


.projectView h2 {
    grid-area: 1/1/2/1;
    margin: 15px;
    width: fit-content;
}

.strikethrough {
    text-decoration-line: line-through;

}

footer p {
    margin: 5px;

}

footer p :visited {
    text-decoration: none; color: #ffffff;
}

#projectInput {
    grid-column: 1/-1;
    height: 100px;
    font-size:75px;
    background-color: #0000000e;
    border: 1px #ffffff solid;
    animation: blink 1s step-end infinite alternate;
    color: rgb(77, 75, 75);
}

@keyframes blink {
    50% { border-color: rgba(51, 51, 51, 0.233)}
}

#projectSubmitBTN {
    grid-column: 1/-1;
    border: 0px;
    font-size:100px;
    background-color: white;
    color: rgb(77, 75, 75);
    cursor: pointer; 
}

#projectSubmitBTN :hover {
    text-shadow: solid;
}

.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }